
@keyframes move_from_left{
    0%{transform: translateX(-50%);}
    100%{transform: translateX(0%);}
}
@keyframes move_from_down{
    0%{transform: translateY(50%);}
    100%{transform: translateY(0%);}
}
@keyframes move_from_right{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}
